.container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: none;
  background-image: url(../images/m/m-bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #1e1249;
}
